
@model List<RSSAgregator.Web.Models.Category>

<ul class="nav nav-pills nav-stacked">
    
    @foreach (var category in Model)
    {
        <li>
            <a href="#">
                <span class="badge pull-right">@category.ChannelsNb</span>
                <span class="title">@category.Title</span>
            </a>
        </li>
    }   
</ul>