
<ul class="nav nav-pills nav-stacked">
    <li class="active">
        <a href="#">
            <span class="badge pull-right">4</span>
            <span class="title">Home</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="badge pull-right">2</span>
            <span class="title">Toto</span>
        </a>
    </li>
    <li>
        <a href="#">
            <span class="badge pull-right">4</span>
            <span class="title">Tutu</span>
        </a>
    </li>

</ul>