@model List<RSSAgregator.Web.Models.Channel>

@foreach(var channel in Model)
{

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">@channel.Title</h4>
        <p class="list-group-item-text">@channel.Description</p>
    </a>
}
