@using System.Web.Script
@{
    ViewBag.Title = "Home";
}

  <!-- top bar  -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <div>Hello Username</div>
        <button type="submit" class="btn btn-default">Logout</button>

  
    </div>
</nav>

<div id="content">
    

    <div class="col-md-2" id="categories">

    </div>

    <div class="col-md-3 list-group" id="channels">


    </div>

    <div class="grid effect-8" id="items">
 


    </div>

</div>

@Html.Partial("Script")
