body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#content{
	margin-top: 6em;
}


#categories {
	background-color: grey;
	height: 500px;
	overflow: scroll;
    overflow-x: hidden;
}

#channels {
	background-color: blue;
	height: 500px;
	overflow: scroll;
    overflow-x: hidden;

}

#items {
	background-color: green;
	height: 500px;
	overflow: scroll;
    overflow-x: hidden;

}